<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Email.SMTP" value="smtp.exmail.qq.com"/>
    <add key="Email.From" value="wei_qiu@eventown.com"/>
    <add key="Email.To" value="wei_qiu@eventown.com"/>
    <add key="Global.User" value="邱巍"/>
    <add key="Global.Project" value="会场云后台"/>
  </appSettings>
</configuration>